<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>

  <link href="/static/style.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  


	</head>
	<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src= "{{ user_image1 }}">FINNEAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
       <li class="nav-item">
      <a class="nav-link" href="/top_companies">Major Companies</a>
    </li>
          <li class="nav-item">
      <a class="nav-link" href="/news">General News</a>
    </li>

    <li id="search-bar" class="pull-right">
    <form class="form-inline" action="/" method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="symbol" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <p style='color:white'>{{errormessage}}</p>
  </li>
  </div>
</nav>
		{% block content %}
		{% endblock %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyAu2Jbm6u_u3D9DuZ52K0aeSlInRfNhSxo",
    authDomain: "finneas-ca058.firebaseapp.com",
    databaseURL: "https://finneas-ca058.firebaseio.com",
    projectId: "finneas-ca058",
    storageBucket: "finneas-ca058.appspot.com",
    messagingSenderId: "345418517191",
    appId: "1:345418517191:web:1f83b7964ff713d23b0ce2"
  };
  firebase.initializeApp(firebaseConfig);
</script>

</body>
</html>